header {
	height: 5em;
	width: 100%;
	background: #222;
	position: relative;
	box-sizing: border-box;
	z-index: 1000;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	color: #222;
}

#navigation {
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0;
}

#navigation li {
	display: inline-block;
	padding: .25em 1em;
	padding-bottom: .95em;
	transition: all .25s ease;
	cursor: pointer;
	font-size: 1rem;
}

#navigation li:hover {
	background: red;
}

#navigation .material-icons {
	font-size: 1.5em !important;
	top: 0.25em;
	position: relative;
	margin-right: .25em;
	pointer-events: none;
}

#navigation li a {
	text-decoration: none;
	color: #fff;
}

#logo img {
	height: 3em;
	margin-left: 1.5em;
	margin-top: 1em;
	z-index: 1000;
	position: relative;
}

footer {
	background: #222;
	width: 100%;
	height: 3em;
	text-align: center;
	line-height: 3em;
	color: #fff;
	font-size: .75em;
}



a {
	color: #ff0000;
}

footer a {
	margin: 0 1em;
	color: #fff;
}

footer span {
	margin-right: 1em;
}

.paralaxImage {
	text-align: center;
	background: url("../media/relax.jpg");
	background-size: cover;
	background-position: 0 -300px;
	width: 100%;
	height: 12em;
	margin-left: -8em;
	padding-right: 8em;
	margin-top: 0em;
}

.paralaxImage span {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background: #fff;
	padding: .3em;
	border-bottom: 3px solid #ff0000;
	position: relative;
	top: 3em;
	left: -4.3em;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}

.dropdown {
	width: 50%;
	left: 25%;
	background: #ff0000;
	position: relative;
	margin-top: .8em;
	transition: all .5s ease;
	padding: 1em;
	box-sizing: border-box;
}

.active {
	background: #ff0000;
}

.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table-cell;
	padding-right: 2em;
}

.dropdown ul li {
	line-height: 1.75em;
}

.dropdown ul li a {
	color: #fff;
}

#breadcrumbs {
	width: 100%;
	height: 2em;
	background: #222;
	padding-left: 1.5em;
	display: inherit;
	top: 0;
	position: fixed;
}
#breadcrumbs .breadcrumb {
    display: inline-block;
    background: #ff0000;
	color: #fff;
    padding: .1em 1em;
    height: 1.5em;
    font-size: .75em;
    border-radius: 2px;
    margin-right: 2.1em;
    line-height: 1.5em;
    margin-top: .5em;
	cursor: pointer;
}
#breadcrumbs .breadcrumb a {
	color: #fff;
	text-decoration: none;
}
#breadcrumbs .breadcrumb::after {
	font-family: "Material Icons";
    content: "forward";
    position: absolute;
    margin-left: 1.7em;
	color: #fff;
	font-weight: bold;
}
#breadcrumbs .breadcrumb:last-of-type::after {
    content: "";
}
.test {
    padding: 2em 9em;
    line-height: 1.5em;
	text-align: justify;
}